/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2016, 08:27:31 AM
    Author     : USUARIO
*/

.myTable td:nth-child(1) {
    width: 20px;
}


span.ui-button-text.ui-c {
    font-size: 12px;
}