.ui-widget {
    font-size: 11px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
}
.ui-datatable tbody td {
    padding: 1px 10px !important;
}
.ui-datatable tbody td > .ui-radiobutton {
    margin: 0px !important;
}
.ui-button {
    margin-top: 0px !important;
}

.lblText{font-weight: bold;}

.ui-fieldset .ui-fieldset-legend {
    padding: 0.6em 1em;
    /*    background: none !important;*/
}

.separacionfieldset{
    margin-bottom:10px;
}